{% extends 'base.html' %}

{% block content %}
    <form method="get">
        <div class="input-group">
            <input type="search" value="{{ query }}" name="query" class="form-control" placeholder="Filter orders with muffin name or muffin id...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Filter</button>
                <a href="/muffins/" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span>
                    API for Muffin
                </a>
                <a href="/orders/" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span>
                    API for Order
                </a>
            </span>
        </div>
    </form>
    <table class="table table-striped">
        <tr>
            <th>order id</th>
            <th>muffin id</th>
            <th>muffin name</th>
            <th>muffin size</th>
            <th>amount of muffins</th>
            <th>order urgency</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.muffin.pk }}</td>
                <td>{{ object.muffin.name }}</td>
                <td>{{ object.muffin.size }}</td>
                <td>{{ object.amount }}</td>
                <td>{{ object.get_urgency_display }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
